.clase1 {
    color: red;
    width: 100px;
<<<<<<< HEAD
=======
    height: 50px;
>>>>>>> eec03b451a5985baaceb2aa96153306a3196aaaf
}

#id1 {
    background-color: aqua;
    display: flex;
    flex: 1;
}